.devcontainer
.vscode
.git
.github
.gitignore
.pre-commit-config.yaml
Dockerfile
LICENSE
CITATION.cff
README.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md

data
demo
docs
examples
runs
tests
yolo
build
dist

*.pt
*.pth
*.onnx
*.hef
*.engine
*.profile

*.png
